@font-face {
  font-family: Unbounded;
  src: url("../fonts/Unbounded-VariableFont_wght.ttf");
}

:root {
  //  Colors
  --primary-color: #fcf951;
  --secondary-color: #c6fb50;
  --dark-color: #161616;
  --light-color: #f5f5f5;
  --black-color: #000000;
  --white-color: #ffffff;
  //  Fonts
  --primary-font: Unbounded;
  //   Sizing
  --primary-width: 55vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--primary-color);
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::selection {
  background: var(--secondary-color);
  color: var(--black-color);
}

@keyframes spin {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  .dot {
    width: 0vw;
    height: 0vw;
    background: var(--white-color);
    border-radius: 50%;
    transition: 0.5s;
  }
  span {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 1vw;
  }
  &:hover {
    gap: 0.2vw;
    span {
      color: var(--primary-color);
    }
    .dot {
      width: 0.5vw;
      height: 0.5vw;
    }
  }
}

.tags {
  display: flex;
  gap: 0.2vw;
  margin-bottom: 1vw;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  background: var(--black-color);
  width: fit-content;
  padding: 1vw 2vw;
  border-radius: 100vw;
  color: var(--light-color);
  font-size: 0.8vw;
  img {
    width: 1vw;
    height: 1vw;
    animation: spin 4s linear infinite;
  }
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vw;
  gap: 0.5vw;
  background: var(--black-color);
  width: fit-content;
  padding: 1vw 2vw;
  border-radius: 100vw;
  font-size: 0.8vw;
  color: var(--light-color);
  text-transform: capitalize;
  span {
    width: 0vw;
    height: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    background: var(--light-color);
    border-radius: 50%;
    transition: 0.3s;
    i {
      color: var(--black-color);
      font-size: 1.1vw;
      font-weight: 600;
    }
  }
  &:hover {
    span {
      width: 1.8vw;
      height: 1.8vw;
    }
  }
}

.highlight {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -2.3vw;
    left: 0vw;
    width: 100%;
    height: 100%;
    background-image: url("../img/highlight.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
}

.link {
  font-size: 0.9vw;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-color);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -0.3vw;
    right: 0vw;
    width: 100%;
    height: 0.15vw;
    background: var(--black-color);
    transition: 0.3s;
    border-radius: 100vw;
  }
  &:hover {
    opacity: 0.8;
    &::after {
      width: 0vw;
      left: 0vw;
    }
  }
}

.mini_tag {
  background: var(--secondary-color);
  border-radius: 100vw;
  padding: 0.5vw 1vw;
  height: 2vw;
  font-size: 1vw;
  width: fit-content;
  text-transform: uppercase;
}

.input-box {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 1vw 0vw;
  border: none;
  outline: none;
  color: var(--light-color);
  border-bottom: 0.2vw solid var(--light-color);
  font-size: 1.1vw;
  width: 100%;
  font-family: var(--primary-font);
  margin-bottom: 1vw;
  transition: 0.2s;
  &:hover {
    padding: 1vw;
    border-bottom: 0.2vw solid var(--primary-color);
  }
  &:active,
  &:focus {
    padding: 1vw;
    border-bottom: 0.2vw solid var(--primary-color);
  }
  resize: none;
  resize: vertical;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

::placeholder {
  font-size: 1vw;
  font-family: var(--primary-font);
  text-transform: capitalize;
  color: var(--light-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  nav {
    position: fixed;
    top: 1vw;
    height: 2vw;
    z-index: 9999;
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: var(--primary-width);
      background: var(--black-color);
      padding: 1.2vw 2.4vw;
      border-radius: 100vw;
      .bx {
        color: var(--white-color);
        font-size: 2vw;
        cursor: pointer;
      }
    }
    .menu {
      width: 100%;
      height: auto;
      padding: 1.2vw;
      background: var(--black-color);
      margin-top: 0.2vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 0.7vw;
      transition: 0.3s;
      border-radius: 2vw;
      opacity: 0;
      transform: scale(0);
      .last-child {
        grid-column: span 2;
      }
      li {
        width: 100%;
        display: inline-flex;
        a {
          background: var(--primary-color);
          width: 100%;
          height: 6vw;
          padding: 1vw;
          text-transform: uppercase;
          border-radius: 1vw;
          transition: 0.3s;
          display: flex;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          &:hover {
            background-color: var(--light-color);
            img {
              scale: 1.5;
            }
          }
          span {
            color: var(--black-color);
            font-weight: 800;
            font-size: 1vw;
          }
          img {
            transition: 0.3s;
            width: 10vw;
          }
        }
      }
    }
    .active-menu {
      opacity: 1;
      transform: scale(1);
    }
  }
}



main {
  .hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 12vw;
    .inner_container {
      width: var(--primary-width);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1vw;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -14vw;
        width: 14vw;
        height: 14vw;
        display: block;
        background-image: url("../img/hero-1.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
      }
      &::before {
        content: "";
        position: absolute;
        right: -14vw;
        bottom: 0;
        width: 14vw;
        height: 14vw;
        display: block;
        background-image: url("../img/hero-2.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      h1 {
        font-size: 3.3vw;
        margin-bottom: 2vw;
      }
      p {
        color: var(--dark-color);
        width: 35vw;
        font-size: 0.8vw;
      }
      a {
        margin-top: 1vw;
      }
    }
  }
  #about {
    margin-top: 10vw;
    .inner_container {
      position: relative;
      padding: 1vw;
      .about-me {
        margin-top: 10vw;
        font-size: 14vw;
      }
      h1 {
        font-size: 16vw;
        text-transform: uppercase;
      }
      img {
        position: absolute;
        top: -2vw;
        left: 50%;
        width: 18vw;
        border-radius: 1vw;
      }
      .about_me_text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 5vw;
        padding: 0vw 1vw;
        .left-container {
          width: 40%;
          p {
            font-size: 0.9vw;
            line-height: 1.3vw;
            margin-bottom: 1vw;
            text-transform: capitalize;
            text-align: justify;
            span {
              font-weight: 600;
            }
          }
        }
        .right-container {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          .about-me-img{
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            width: 30vw;
          }
          p {
            width: 10vw;
            font-size: 0.8vw;
          }
          .link {
            margin-top: 3vw;
          }
        }
      }
      .about-me-detail{
        justify-content: space-evenly;
        .left-container {
          margin-top: 5vw;
          p{
            font-size: 1.1vw;
            line-height: 1.8vw;
          }
        }
      }
    }
  }
  #work {
    background-color: var(--dark-color);
    border-top-right-radius: 4vw;
    border-top-left-radius: 4vw;
    padding: 8vw 5vw;
    margin-top: 5vw;
    h1 {
      text-align: center;
      color: var(--light-color);
      font-size: 5vw;
      text-transform: uppercase;
    }
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2vw;
      margin-top: 5vw;
      .card {
        border-radius: 4vw;
        padding: 2vw;
        &:nth-child(1) {
          background: #b09b5f;
        }
        &:nth-child(2) {
          background: #ff4e00;
        }
        &:nth-child(3) {
          background: #c6aaee;
        }
        &:nth-child(4) {
          background: #b09b5f;
        }
        a {
          font-size: 1.1vw;
          text-transform: lowercase;
        }
        img {
          width: 40vw;
        }
        .detail {
          margin-top: 1vw;
          h2 {
            font-size: 2vw;
            margin-bottom: 1vw;
          }
          .primary-btn {
            font-size: 0.8vw;
            text-transform: capitalize;
          }
        }
      }
    }
    .btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2vw;
      .primary-btn {
        filter: invert(1);
      }
    }
  }
  #contact {
    background-color: var(--black-color);
    padding: 8vw 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .problem-solve-img {
      width: 50vw;
    }
    .contact-form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5vw;
      gap: 10vw;
      form {
        width: 40vw;
        button {
          margin-top: 2vw;
          cursor: pointer;
          filter: invert(1);
          font-family: var(--primary-font);
          border: none;
          outline: none;
        }
      }
    }
  }
}

footer {
  background-color: var(--black-color);
  .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    padding: 2vw 4vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    .footer-logo{
      font-size: 1vw;
      color: var(--black-color);
      text-transform: uppercase;
      font-weight: 600;
      transition: 0.1s;
      &:hover{
        opacity: 0.8;
      }
    }
    .links{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .web{
      gap: 2vw;
      a{
        color: var(--dark-color);
        font-size: 0.9vw;
        font-weight: 500;
        &:hover {
          color: var(--black-color);
        }
      }
    }
    .social {
      gap: 0.5vw;
      a {
        i{
          width: 1.4vw;
          height: 1.4vw;
          color: var(--dark-color);
          border: 2px solid var(--dark-color);
          font-size: 1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1vw;
          border-radius: 0.3vw;
          transition: 0.2s;
          &:hover{
          background: var(--dark-color);
          color: var(--light-color);
          transform: translate(-2px, 2px);
          }
        }
      }
    }
  }
}

// About Page
main {
  .skills{
    background: var(--black-color);
    padding: 2vw 4vw;
    margin-top: 5vw;
    h1 {
      text-align: center;
      font-size: 3.2vw;
      color: var(--light-color);
      width: fit-content;
      text-transform: uppercase;
    }
    .tags{
      margin-top: 4vw;
      gap: 0.4vw;
      flex-wrap: wrap;
    }
  }
  .service{
    padding-top: 5vw;
    font-weight: bolder;
    margin-bottom: 10vw;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3.2vw;
      gap: 1vw;
      text-transform: uppercase;
    }
  }
}

.service_footer{
  background: var(--primary-color);
}

.work_page{
  background: var(--dark-color);
}
